.login-form {
  padding-top: 200px;
  height: 40%;
  margin: 0 auto;
  width: 300px;
  position: relative;
}

input {
  margin: 1em 0 0.5em 0;
  width: 99%;
  padding: 3px 0 3px 0;
  font-size: 14px;
}

h1 {
  font-size: 2em;
  margin: 0 auto;
  width: 200px;
  padding-bottom: 1em;
}

button {
  width: 100%;
  padding-right: 1px;
  padding: 5px 0 5px 0;
  margin-top: 2em;
  font-weight: bold;
  font-size: 14px
}

#sign-up-link {
  float: left;
  padding-top: 2em;
  position: absolute;
  right: 0;
}
